<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>24856787170-tg88pcscv8nftejbef1p05h87aqrg53p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.24856787170-tg88pcscv8nftejbef1p05h87aqrg53p</string>
	<key>API_KEY</key>
	<string>AIzaSyAO937I7NtteT1l-iQvoXL202lyIUudWfU</string>
	<key>GCM_SENDER_ID</key>
	<string>24856787170</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.carinfo</string>
	<key>PROJECT_ID</key>
	<string>info-test-d34bd</string>
	<key>STORAGE_BUCKET</key>
	<string>info-test-d34bd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:24856787170:ios:23b45fb133dd4a18df86bb</string>
</dict>
</plist>